<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-03-08T20:09:58Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mayahalam/Documents/CompSci_Work/EECS_441/plotWeb/plot_web_app/macos/Runner.xcworkspace</string>
</dict>
</plist>
